<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close">
      <span class="icofont-close js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>




<div class="hero">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="intro-wrap">
          <h1 class="mb-5"><span class="d-block">Separa tus viajes con </span> Newshore <span class="typed-words"></span></h1>

          <div class="row">
            <div class="col-12">
              <div class="form">
                <div class="row mb-2">
                  <div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-6">
                    <select name="listOrigin" id="" class="form-control custom-select" [(ngModel)]="origin">
                      <option selected value="-1">Origen</option>
                      <option *ngFor="let list of listOrigin" [value]="list">{{list}}</option>
                    </select>
                  </div>
                  <div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-6">
                    <select name="listOrigin" id="" class="form-control custom-select" [(ngModel)]="destination">
                      <option selected value="-1">Destino</option>
                      <option *ngFor="let list of listDestination" [value]="list">{{list}}</option>
                    </select>
                  </div>
                  

                </div>    
                <div class="row align-items-center">
                  <div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-4">
                    <input  class="btn btn-primary btn-block" (click)="buscarVuelos()" value="Buscar">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="slides">
          <img src="https://media.gettyimages.com/id/1171615860/es/foto/plaza-botero-medellin-colombia.jpg?s=2048x2048&w=gi&k=20&c=MKS6NKqTtmmqtoMWZRf9GMb7k4va586hcguuVFunYIo=" alt="Image" class="img-fluid active">
          <img src="https://www.cepal.org/sites/default/files/styles/1920x1080/public/regionaloffice/images/bogota.jpg?itok=o3kfQd06" alt="Image" class="img-fluid">
          <img src="https://www.camaradirecta.com/imagenes/vco_noticias/noti_d6c303cb85089128ca287e1c6257593630bbb48e.jpg" alt="Image" class="img-fluid">
          <img src="https://www.eltiempo.com/files/image_640_428/uploads/2022/01/08/61d93de8c972a.jpeg" alt="Image" class="img-fluid">
          <img src="https://imagenes.elpais.com/resizer/-TwoPg6OhZyrnL2aiJ5Nlx3B6dY=/1960x1470/cloudfront-eu-central-1.images.arcpublishing.com/prisa/UJCAL6RHFPVG7EUIRQAE6GXB2U.jpg" alt="Image" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="titleTable !== undefined">
  <h4 >{{titleTable}}</h4>
  <div class="row">
    <h6>Origen: {{origin}}</h6> &nbsp;
    <h6>Origen: {{destination}}</h6> &nbsp;
    <h6>Precio: USD  {{flights.price | currency}} </h6> &nbsp;
    <h6>Precio: COP {{priceCop | currency  }}</h6> &nbsp;
    <h6>Tipo vuelo:  {{tipoVuelo}}  </h6>
  </div>
 
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Origen</th>
        <th scope="col">Destino</th>
        <th scope="col">Numero de Vuelo</th>
        <th scope="col">Carrier</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fly of flights.flights">
        <th >{{fly.origin}}</th>
        <td>{{fly.destination}}</td>
        <td>{{fly.transport.flightNumber}}</td>
        <td>{{fly.transport.flightCarrier}}</td>
        <td>{{fly.price}}</td>
      </tr>
     
    </tbody>
  </table>
</div>


  <div class="inner dark">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-8 mb-3 mb-md-0 mx-auto">
          <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a  class="link-highlight">NewShore</a> 
          </p>
        </div>
        
      </div>
    </div>
  </div>


<div id="overlayer"></div>
<div class="loader">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<script>
  $(function() {
    var slides = $('.slides'),
    images = slides.find('img');

    images.each(function(i) {
      $(this).attr('data-id', i + 1);
    })

    var typed = new Typed('.typed-words', {
      strings: ["San Francisco."," Paris."," New Zealand.", " Maui.", " London."],
      typeSpeed: 80,
      backSpeed: 80,
      backDelay: 4000,
      startDelay: 1000,
      loop: true,
      showCursor: true,
      preStringTyped: (arrayPos, self) => {
        arrayPos++;
        console.log(arrayPos);
        $('.slides img').removeClass('active');
        $('.slides img[data-id="'+arrayPos+'"]').addClass('active');
      }

    });
  })
</script>